.container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  color: grey;
  width: 100%;
  &__nav {
    width: 100%;
    display: flex;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 4px 7px -5px grey;
  }
  &__jobs {
    padding: 1rem;
  }
  &__tab {
    margin-right: 8px;
    padding: 10px 1rem;
    cursor: pointer;
  }
  &__activeTab {
    background: lightgrey;
    color: black;
    font-weight: 700;
  }
}